.login {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1em;
  text-align: center;
  width: 90%;
  height: 50%;
  justify-content: center;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .login {
    width: 90%;
  }
}
