#root {
    width: 100% !important;
    height: 100vh !important;
    margin: 0;
    padding: 0;
}

html {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}

body {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    padding: 0;
}