.main-quibb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1em;
}
.preview {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  text-align: center;
  flex: 40;
}

.post-quibb {
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex: 60;
  min-width: 40%;
  align-self: center;
  text-align: center;
}

.field {
  margin: 0.5em !important;
}
.button {
  align-self: center;
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .main-quibb {
    display: flex;
    flex-direction: column;
  }
  .preview {
    flex: 100;
  }
  .post-quibb {
    flex: 100;
  }
  .button {
    width: 70%;
  }
}
